#course-advantage {
    .advantage-box {
        padding: 0 .3rem;
        margin-top: .4rem;
        .advantage-img {
            width: 100%;
            padding: 0 .3rem;
            margin: 0;
            padding: 0;
        }
    }
}