#signup {
    background-color: #fff;
    .button-commit {
        padding: .5rem .3rem .8rem;
        .commit {
            display: block;
            width: 100%;
            outline: none;
            border: none;
            background-color: #f02d36;
            border-radius: .1rem;
            font-size: .36rem;
            color: #fff;
            line-height: 1rem;
            padding: 0 1.36rem;
        }
    }
}