<div id="course-basics" class="tab-control-box">
    <h3 class="basics-title">
        {{data.title}}
    </h3>
    <p v-for="item in data" class="basics-p">
        <span class="title">{{item.title}}</span>
        <span class="description"
            :style="item.style">
            {{item.description}}
            <br>
            <span class="descriptionSec"
                v-if="item.descriptionSec"
                :style="item.descriptionSecStyle">
                {{item.descriptionSec}}
            </span>
        </span>
    </p>
</div>