<div id="order-pay">
    <header>
        <h1 >付款</h1>
    </header>
    <div class="panel order-info">
        <ul>
            <li>
                <span>订单信息</span>
                <span>{{orderData.orderName}}</span>
            </li>
            <li>
                <span>订单号</span>
                <span>{{orderData.orderId}}</span>
            </li>
            <li>
                <span>订单金额</span>
                <span class="red">￥{{orderData.couponPrice}}</span>
            </li>
        </ul>
    </div>
    <div class="panel pay-way">
        <h4>请选择支付方式</h4>
        <ul>
            <li class="alipay">
                <label>
                    <span>
                        <i class="kkb-h kkb-h-zhifubao"></i>
                    </span>
                    <span>
                        <p>支付宝支付</p>
                        <p>推荐支付宝账户使用</p>
                    </span>
                    <span>
                        <input
                            class="mint-radio-input"
                            type="radio"
                            name="pay"
                            value="1"
                            v-model="payValue">
                        <span class="mint-radio-core"></span>
                    </span>
                </label>
            </li>
            <li class="wechat">
                <label>
                    <span>
                        <i class="kkb-h kkb-h-wxpay"></i>
                    </span>
                    <span>
                        <p>微信支付</p>
                        <p>推荐微信5.0以上版本使用</p>
                    </span>
                    <span>
                        <input
                            class="mint-radio-input"
                            type="radio"
                            name="pay"
                            value="2"
                            v-model="payValue">
                        <span class="mint-radio-core"></span>
                    </span>
                </label>
            </li>
        </ul>
    </div>
    <div class="panel pay-buttom">
        <a class="payfor" @click="pay">立即支付</a>        
    </div>
</div>