.course-step-list {
    text-align: left;
    margin-bottom: 0;
    margin-top: .5rem;
    color: #696a70;
    font-weight: 500;
    .title {
        font-size: .3rem;
        .text {
            margin-left: .1rem;
        }
    }
    dd {
        position: relative;
        margin-top: .2rem;
        margin-left: 0;
        padding-left: .2rem;
        font-size: .3rem;
        line-height: 1.42308;
        color: #696a70;
    }
    dd::before {
        position: absolute;
        top: .15rem;
        left: .02rem;
        content: "";
        display: block;
        width: .06rem;
        height: .06rem;
        background: #696a70;
    }
}
